<% include partials/header.ejs %>
    <div class="jum">
        <h1><i class="fas fa-cloud-sun"></i> Weather API APP</h1>
    </div>
    <div class="container">

        <form action="/" method="post" class="form">
            <div clsss="form-group">
                <input type="text" name="cityName" class="form-control" placeholder="City">
            </div>
            <div>
                <button class="btn btn-lg btn-primary form-control">Get Weather</button>
            </div>
        </form>
    </div>
<% include partials/footer.ejs %>